{# Page Data #}

{# Page Introduction #}
{% set data = {
	heading: 'Typography - Headings',
	template: "'./src/scss/1-base/base.scss'",
	description: '
			<p><code>[ foo : element ]</code> denotes inherited property, and element reference</p>
			<p>Responsive type between 420px and 1280px</p>
			'
} %}

{% set fonts = [
	{
		tag: 'h1',
		title: 'Heading 1',
		fontSize: '36px - 50px',
		lineHeight: '1.2',
		letterSpacing: '[ 0.014em : body ]'
	},
	{
		tag: 'h2',
		title: 'Heading 2',
		fontSize: '23px - 45px',
		lineHeight: '[ 1.2 : body ]',
		letterSpacing: '[ 0.014em : body ]'
	},
	{
		tag: 'h3',
		title: 'Heading 3',
		fontSize: '23px - 40px',
		lineHeight: '[ 1.2 : body ]',
		letterSpacing: '[ 0.014em : body ]'
	},
	{
		tag: 'h4',
		title: 'Heading 4',
		fontSize: '23px - 40px',
		lineHeight: '[ 1.2 : body ]',
		letterSpacing: '[ 0.014em : body ]'
	},
	{
		tag: 'h5',
		title: 'Heading 5',
		fontSize: '23px - 40px',
		lineHeight: '[ 1.2 : body ]',
		letterSpacing: '[ 0.014em : body ]'
	},
	{
		tag: 'h6',
		title: 'Heading 6',
		fontSize: '23px - 40px',
		lineHeight: '[ 1.2 : body ]',
		letterSpacing: '[ 0.014em : body ]'
	}
] %}

{# Block in Main Styleguide Page #}
{% block styleguide_section %}
	{# Headings #}
	{% embed '/styleguide/_templates/section'
		with {
			heading: data.heading,
			description: data.description,
			template: data.template
		}
	%}
		{% block styleguide_example %}
			{% for font in fonts %}
				{#  #}
				{# Headings #}
				{#  #}
				{% set variables = font %}
				{% embed '/styleguide/_templates/item'
					with {
						heading: font.tag,
						variables: variables
					}
				%}
					{% block styleguide_item %}
						{# Quirk for Typography only - using Twig to change Tags within loop #}
						<{{ font.tag }} class="w-auto o-style">
							{{ font.title }}
						</{{ font.tag }}>
					{% endblock %}
				{% endembed %}
				{#  #}
				{# End Headings #}
				{#  #}
			{% endfor %}
		{% endblock %}
	{% endembed %}
{% endblock %}
