{% import '/_macros/helpers' as h %}

{% set icon = icon|default(null) %}
{% set header = header|default('') %}
{% set body = body|default('') %}

<div>
	{% if icon %}
		<div class="flex items-center justify-center w-12 h-12 text-white bg-indigo-500 rounded-md">
			{{ h.symbol(icon, 'text-black') }}
		</div>
	{% endif %}
	<div class="{{ icon ? 'mt-5' }}">
		{% if header|length %}
			<h5 class="text-lg font-medium leading-6 text-gray-900">
				{{ header }}
			</h5>
		{% endif %}
		{% if body|length %}
			<div class="mt-2 text-base leading-6 text-gray-500">
				{{ body|raw }}
			</div>
		{% endif %}
	</div>
</div>
