{% set forName = forName ?? 'burger-checkbox' %}
{% set target = target ?? 'site-menu' %}
{% set ariaLabel = ariaLabel ?? 'Menu' %}

{% set classes = classes ?? '' %}

<input type="checkbox"
	id="{{ forName }}"
	name="{{ forName }}"
	class="sr-only o-burger--checkbox" />
<label class="appearance-none cursor-pointer pointer-events-auto o-burger {{
	classes
	}}"
	for="{{ forName }}"
	data-menu-opener
	data-target="{{ target }}"
	aria-label="{{ ariaLabel }}">
	<span class="m-auto o-burger__bar"></span>
</label>
