{% import '/_macros/helpers' as h %}

{% set link = link|default(null) %}
{% set text = text|default(null) %}
{% set id = id|default(null) %}
{% set name = name|default(null) %}
{% set type = type|default(null) %}

{% set classes = classes|default('') %}
{% set icon = icon|default(null) %}
{% set modifier = modifier|default(false) %}

{% set dir = dir|default('right') %} {# Icon positon, default right #}

{% set rest = rest|default(null) %}


{% if link %}
	<a href="{{ link }}"
		{% if id %}id="{{ id }}"{% endif %}
		{% if name %}name="{{ name }}"{% endif %}
		{% if type %}type="{{ type }}"{% endif %}
		class="o-btn {{ classes }}
		{{ dir == 'left' ? 'o-btn--left' }}
		{{ modifier ? 'o-btn--' ~ modifier }}
		"
		title="{{ text }}"
		{{ rest|raw }}>
		{{ _self.buttonContent(dir, text, icon) }}
	</a>
{% else %}
	<button
		{% if id %}id="{{ id }}"{% endif %}
		{% if name %}name="{{ name }}"{% endif %}
		{% if type %}type="{{ type }}"{% endif %}
		class="o-btn {{ classes }}
		{{ dir == 'left' ? 'o-btn--left' }}
		{{ modifier ? 'o-btn--' ~ modifier }}"
		title="{{ text }}"
		{{ rest|raw }}>
		{{ _self.buttonContent(dir, text, icon) }}
	</button>
{% endif %}

{# Inner content for either 'type' of button #}
{% macro buttonContent(dir, text, icon) %}
	{% if icon %}
		{% if dir == 'left' %}
			{{ h.symbol(icon, 'pointer-events-none mr-4 md:mr-5') }}
		{% endif %}
	{% endif %}

	{{ text }}

	{% if icon %}
		{% if dir == 'right' %}
			{{ h.symbol(icon, 'pointer-events-none ml-4 md:ml-5') }}
		{% endif %}
	{% endif %}
{% endmacro %}
