{# Adds edit link to frontend when logged in to Craft Admin #}
{% if
	currentUser
		and currentUser.can('accessCp')
		and not craft.app.request.isLivePreview %}
	{% set element = element|default(craft.app.urlManager.matchedElement) %}
	{% if element and element.isEditable %}
		{% set editLink = element.getCpEditUrl() %}
		{% if element.draftId is defined and element.draftId is not null %}
			{% set editLink = editLink ~ '&draftId=' ~ element.draftId %}
		{% endif %}
		{% set editText = 'edit'|t %}
	{% else %}
		{% set editLink = cpUrl() %}
		{% set editText = 'control panel'|t %}
	{% endif %}
	<div class="fixed bottom-0 left-0 z-50 pointer-events-none">
		{% if entry is defined %}
			<div class="fixed bottom-0 right-0 p-4 text-white bg-black">
				Title: {{ entry.title }} <br />
				Section: {{ entry.section.handle }} <br />
				Entry Type: <a class="font-bold underline pointer-events-auto"
					href="{{ entry.type.cpEditUrl() }}">
					{{ entry.type.handle }}
				</a> <br />
				<a href="{{ editLink }}"
					target="_blank"
					class="font-bold underline pointer-events-auto"
					rel="noopener noreferrer">
					Edit Entry Content
				</a>
			</div>
		{% endif %}
	</div>
{% endif %}
