{# 
  Pass in pageInfo from {% paginate craft.entries({}) as pageInfo, pageEntries %} 
  and magic will happen (hopefully)

  Variables 
    - pagination (Craft Pagination Object)
#}

{% import '/_macros/helpers' as h %}

{% set pagination = pagination|default(null) %}

{% if pagination is defined %}
	<ul class="flex items-center justify-center mb-4 font-black font-titling c-pagination">
		<li class="o-pagination__item">
			<a class="inline-flex items-center p-2 transition duration-150 ease-in-out text-teal o-pagination__btn o-pagination__btn--prev hover:text-gray-900 focus:z-10 focus:outline-none focus:shadow-outline-blue active:border-blue {{
				not pagination.prevUrl|length
					? 'is-disabled'
				}}"
				href="{{ pagination.prevUrl|length ? pagination.prevUrl : '#prev' }}">
				<span class="sr-only">Previous page</span>
				{{ h.symbol('chevron-left', 'w-3') }}
			</a>
		</li>

		{% if pagination.totalPages > 1 %}
			{% if pagination.currentPage > 3 %}
				<li class="o-pagination__item">
					<span class="mx-4 text-teal">...</span>
				</li>
			{% endif %}

			{% for page, url in pagination.getPrevUrls(5) %}
				<li class="o-pagination__item">
					<a class="o-pagination__link" href="{{ url }}">
						<span>{{ page }}</span>
					</a>
				</li>
			{% endfor %}

			<li class="o-pagination__item">
				<span class="o-pagination__link is-active">
					<span>{{ pagination.currentPage }}</span>
				</span>
			</li>

			{% for page, url in pagination.getNextUrls(5) %}
				<li class="o-pagination__item">
					<a class="o-pagination__link" href="{{ url }}">
						<span>{{ page }}</span>
					</a>
				</li>
			{% endfor %}

			{% if pagination.currentPage < pagination.totalPages - 2 %}
				<li class="o-pagination__item">
					<span class="mx-4 text-teal">...</span>
				</li>
			{% endif %}
		{% endif %}

		<li class="o-pagination__item">
			<a class="inline-flex items-center p-2 transition duration-150 ease-in-out text-teal o-pagination__btn o-pagination__btn--prev hover:text-gray-900 focus:z-10 focus:outline-none focus:shadow-outline-blue active:border-blue {{
				not pagination.nextUrl|length
					? 'is-disabled'
				}}"
				href="{{ pagination.nextUrl|length ? pagination.nextUrl : '#next' }}">
				{{ h.symbol('chevron-right', 'w-3') }}
			</a>
		</li>
	</ul>
{% endif %}
