{# 
  Link to social media accounts, normall populated by field in Globals => Social
  
  Variables 
    - socials (object)
      socials.url (string)
      socials.type (string)
#}

{% import '/_macros/helpers' as h %}

{% set socials = socials|default([]) %}

{% if (socials|length) > 0 %}
	<ul class="flex items-center">
		{% for social in socials if (social.url|length) > 0 %}
			<li>
				<a class="block p-2 text-grey hover:text-brand-red transition-colors duration-200"
					href="{{ social.url }}"
					target="_blank"
					rel="noreferrer noopener">
					{% if (social.type|length) > 0 %}
						{{ h.symbol(social.type) }}
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}
