{#   
  Variables 
    - video (object | video asset / embed from Craft)
    - autoplay (boolean)
    - loop (boolean)
    - controls (boolean)
    - aspectRatio (string | usually returned from getVideo, but specified anyway)
    - video.aspect (string)
    - video.code (string)
    - video.id (string)
#}

{% set video = video|default(null) %}
{% set autoplay = autoplay|default(0) %}
{% set loop = loop|default(0) %}
{% set controls = controls|default(1) %}
{% set background = background|default(0) %}

{% if video %}
	{% set video =
		getVideo(
			video,
			{
				autoplay: autoplay,
				controls: controls
			}
		)
	%}
	{% set aspectRatio = video.aspectRatio|default('56.25') %}
	<div class="o-video-container relative w-full h-0"
		style="padding-bottom: {{ aspectRatio }}%">
		<div class="o-video"
			data-behaviour="Video"
			id="video-{{ video.id }}"
			data-autoplay="{{ autoplay }}"
			data-controls="{{ controls }}"
			data-background="{{ background }}">
			{{ video.code|raw }}
		</div>
	</div>
{% endif %}
