// Core Layout
.p-styleguide {
	font-size: rem(16px);

	// Temporary Header / Body fixes
	#page-wrapper {
		@include calc-fluid('padding-top', 76px, 90px);
	}

	.o-describeby {
		@apply inline-block mb-0 text-grey;
	}

	.o-circle {
		width: rem(100px);
		height: rem(100px);
	}
}
