<!DOCTYPE html>
<!-- build:cms -->
{% set stamp = '' %}
<!-- endbuild -->
<html lang="en-gb" dir="ltr" class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1"
			viewport-fit="cover" />

		{# Robots blocking for staging URLs #}
		{{ 'mudbank' in siteUrl
			? '<meta name="robots" content="noindex, nofollow">'
			: '' }}
		<meta name="msapplication-TileColor" content="#282929" />
		<meta name="theme-color" content="#282929" />
		<meta content="telephone=no" name="format-detection" />
		<script>
			document.documentElement.classList.remove('no-js');
		</script>

		<link rel="stylesheet" href="/dist/css/style{{ stamp }}.css" />

		{# Place fonts inline [see below] #}
		{% include '/_global/fonts' %}
	</head>

	<body id="body">
		<main id="page-wrapper" data-barba="wrapper">
			<div id="page-container"
				data-barba="container"
				data-barba-namespace="{{ namespace }}">
				{% block content %}

				{% endblock %}
			</div>
		</main>
	</body>
</html>
