<div class="o-field field-{{ handle }} {{ classes }}">
	<label for="{{ handle }}"
		class="o-label {{ required ? 'o-label-required' }}"
		{{ required ? 'data-field-row' }}>
		<input type="checkbox"
			id="{{ handle }}"
			name="{{ handle }}"
			data-presence="{{ presence }}"
			class="o-checkbox"
			{{ required ? 'required' }}
			{{ value ? 'checked' }} />

		<span class="normal-case o-label_text o-checkbox__box o-content">
			{{ label|raw }}{{ required ? '<span class="inline">*</span>' }}
		</span>

		{% if instructions %}
			<p class="text-sm o-instructions">
				{{ instructions }}
			</p>
		{% endif %}
	</label>
</div>
