<div class="o-field field-{{ handle }} {{ classes }}">
	<label for="{{ handle }}" class="o-label {{ required ? 'o-label-required' }}">
		<span class="o-label_text {{ required ? 'o-label_text--required' }}">
			{{ label }}
		</span>

		{% if instructions %}
			<p class="text-sm o-instructions">
				{{ instructions }}
			</p>
		{% endif %}

		<span class="relative block w-full" {{ required ? 'data-field-row' }}>
			<input type="{{ type }}"
				id="{{ handle }}"
				name="{{ handle }}"
				data-presence="{{ presence }}"
				value="{{ value }}"
				placeholder="{{ placeholder }}"
				{{ required ? 'required' }}
				class="o-input" />
		</span>
	</label>
</div>
