body {
	&::after {
		@if $env == 'development' {
			@apply bg-black text-white p-1;

			position: fixed;
			bottom: 0;
			left: 0;
			font-size: 12px;
			display: block;
			padding: gutter(0.25);
			z-index: 100001;
		} @else {
			display: none;
		}

		content: 'root';
	}
}

@screen sm {
	body::after {
		content: 'sm';
	}
}

@screen md {
	body::after {
		content: 'md';
	}
}

@screen lg {
	body::after {
		content: 'lg';
	}
}

@screen xl {
	body::after {
		content: 'xl';
	}
}
