{# Set array as font name, as found in '/static/fonts/' #}
{% set fonts = ['font-one', 'font-two'] %}

<!-- prettier-ignore-start -->
{% if fonts|length %}
<style>
	{% for font in fonts %}
		@font-face {
			font-family: "{{ font }}";
			src: url("/fonts/{{ font }}.eot");
			src: url("/fonts/{{ font }}.eot?#iefix") format('embedded-opentype'),
				url("/fonts/{{ font }}.woff2") format("woff2"),
				url("/fonts/{{ font }}.woff") format("woff"),
				url("/fonts/{{ font }}.ttf") format("truetype"),
				url("/fonts/{{ font }}.svg#{{ font }}") format('svg');
			font-weight: normal;
			font-style: normal;
		}
	{% endfor %}
</style>
{% endif %}
<!-- prettier-ignore-end -->
