{% set footerLinks = footerLinks|default([]) %}

<footer id="footer" class="py-1 border-t footer border-grey">
	<div class="wrapper">
		<div class="flex flex-wrap items-center justify-between">
			{% if footerLinks|length %}
				<ul class="flex -ml-1">
					{% for link in footerLinks %}
						<li>
							<a class="block p-1" href="{{ link.url }}">{{ link.title }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
			<span class="ml-auto">
				&copy; {{ now|date('Y') }} {{ currentSite.name }}
			</span>
		</div>
	</div>
</footer>
