{% set heading = heading|default(null) %}
{% set class = class|default(null) %}
{% set variables = variables|default([]) %}

{# Styleguide Instance Wrapper #}
<article class="o-styleguide--item">
	{% if heading %}
		<h6 class="inline-block mb-5 font-bold">
			{{ heading }}
		</h6>
	{% endif %}

	{% if class %}
		<p class="inline-block mb-5 ml-5">
			{{ class }}
		</p>
	{% endif %}

	{% if variables %}
		<p class="mb-15">
			{% for key, variable in variables %}
				{% if variable %}
					<span class="inline-block mr-5">
						<span class="inline-block text-grey">{{ key }}:&nbsp;</span>{{ variable|raw }}
					</span>
				{% endif %}
			{% endfor %}
		</p>
	{% endif %}

	{# Styleguide Instance Content #}
	{% block styleguide_item %}

	{% endblock %}
</article>
