{% set heading = heading|default('') %}
{% set description = description|default('') %}
{% set variables = variables|default('') %}

{# Styleguide Instance Wrapper #}
<div class="flex flex-col-reverse flex-wrap justify-end mt-12 lg:mt-0 lg:flex-row-reverse lg:flex-no-wrap o-styleguide--section text-grey-dark">
	<main class="w-full p-5 pb-20 lg:p-10 lg:pb-40">
		<div class="max-w-wrapper">
			{# Styleguide Instance Content #}
			{% block styleguide_example %}

			{% endblock %}
		</div>
	</main>

	<aside class="w-full lg:max-w-400 bg-grey-lighter">
		<div class="sticky top-0 w-full p-5 pb-20 lg:p-10 lg:pb-40">
			{% if heading %}
				<h6 class="mb-5">
					{{ heading }}
				</h6>
			{% endif %}

			{% if description %}
				<div class="mb-5 text-black">
					{{ description|raw }}
				</div>
			{% endif %}

			{% if variables %}
				<div class="mb-5 text-black">
					<p class="text-grey">
						Variables:
					</p>
					{% include '/styleguide/_templates/variables' with variables %}
				</div>
			{% endif %}
		</div>
	</aside>
</div>
