{% set variables = variables ?? [] %}
{% if variables %}
	{% for key, variable in variables %}
		{% if variable %}
			<p class="inline-block mb-1 mr-3">
				<span class="inline-block text-grey">{{ key }}:&nbsp;</span>{{
					variable|raw
				}}{{ not loop.last ? ', ' }}
			</p>
		{% endif %}
	{% endfor %}
{% endif %}
