{# Extending Main Styleguide Page #}
{% extends '/styleguide/index' %}

{% set pageTitle = 'Styleguide | Forms' %}

{# Specific to 'Contact Form' plugin #}
{% macro errorList(errors) %}
	{% if errors %}
		<ul class="errors">
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% from _self import errorList %}

{# Probably populated via query... #}
{% set dropdownOptions = [
	{
		label: 'Option one',
		value: 'option-1'
	},
	{
		label: 'Option two',
		value: 'option-2'
	},
	{
		label: 'Option three',
		value: 'option-3'
	}
] %}

{# Form Data - maybe from CMS #}
{# 'message' is from Contact Form Plugin - might need to update per Project #}
{% set formFields = [
	{
		type: 'text',
		handle: 'fromName',
		label: 'Name',
		classes: 'g-grid__col-1-6',
		instructions: 'Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.',
		value: message.fromName ?? '',
		required: true,
		presence: 'Field empty',
		placeholder: 'placeholder',
		message: message is defined and message
			? errorList(message.getErrors('fromName'))
	},
	{
		type: 'text',
		handle: 'message[subjet]',
		label: 'Subject',
		classes: 'g-grid__col-7-12',
		instructions: 'Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.',
		value: message.company ?? '',
		required: true,
		presence: 'Field empty',
		placeholder: 'placeholder',
		message: message is defined and message
			? errorList(message.getErrors('subjet'))
	},
	{
		type: 'email',
		handle: 'fromEmail',
		label: 'Email',
		classes: 'g-grid__col-1-12',
		instructions: 'Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.',
		value: message.fromEmail ?? '',
		required: true,
		presence: 'Field empty',
		placeholder: 'placeholder',
		message: message is defined and message
			? errorList(message.getErrors('fromEmail'))
	},
	{
		type: 'select',
		handle: 'message[event]',
		label: 'Dropdown',
		classes: 'g-grid__col-1-12',
		instructions: 'Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.',
		value: message.event ?? '',
		required: false,
		presence: 'Choose an option',
		defaultOption: 'Choose an option',
		options: dropdownOptions,
		message: message is defined and message
			? errorList(message.getErrors('event'))
	},
	{
		type: 'textarea',
		handle: 'message[message]',
		label: 'Message',
		classes: 'g-grid__col-1-12',
		instructions: 'Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.',
		value: message.message ?? '',
		required: true,
		presence: 'Field empty',
		placeholder: 'placeholder',
		rows: 5,
		errorList: message is defined and message
			? errorList(message.getErrors('message'))
	}
] %}

{# Misc info #}
{% set formHeading = 'Form Name' %}
{% set submitText = 'Submit' %}
{% set disclaimer =
	'Disclaimer copy Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna.'
%}

{# Block in Main Styleguide Page #}
{% block content %}
	{# Keep Page Title #}
	{{ parent() }}

	{% embed '/styleguide/_templates/section'
		with {
			heading: 'Form'
		}
	%}
		{% block styleguide_example %}
			{# Global Form Wrapper handles the rest #}
			{% include '/_forms/_global-form-wrapper' with {
				formHeading: formHeading,
				formFields: formFields,
				submitText: submitText,
				disclaimer: disclaimer
			} %}
		{% endblock %}
	{% endembed %}
{% endblock %}
