/*
 *		Default Form Styling
 */
.c-form {
	@apply w-full;

	font-size: rem(16px);
}

.o-field-wrapper {
	// @apply -ml-5 flex flex-wrap;
}

.o-field {
	@apply relative w-full h-full pb-5; // pl-5;

	&:last-of-type {
		@apply pb-0;
	}

	@screen lg {
		@apply pb-5;
	}
}

.o-submit-fieldset {
	@apply w-full mt-5;
}

.o-legend {
	@apply w-full mb-3 text-left;

	@extend .h1;

	@screen lg {
		@apply mb-5;
	}
}

.o-disclaimer {
	@apply mt-5 mb-0 font-heading font-bold;
}

/*
 *		Labels
 */
.o-label {
	@apply relative w-full h-full flex flex-wrap content-between cursor-pointer;
}

.o-label_text {
	@apply w-auto inline-block font-heading font-bold mb-5 uppercase;
}

.o-label_text--required {
	&::after {
		@apply inline;

		content: '*';
	}
}

/*
 *		Fields
 */
.o-input,
.o-textarea,
.o-select {
	@apply block w-full bg-white text-black font-heading font-bold appearance-none rounded-none;

	font-size: responsive rem(16px) rem(18px);
	line-height: 1em;
	padding: rem(11px) rem(20px) rem(14px);
	transition: color 75ms;

	&.has-error {
		@apply border-error;
	}
}

.o-select {
	@apply cursor-pointer;

	border-radius: 0;
	background-image: url('/dist/img/svg/chevron-down.svg');
	background-repeat: no-repeat;
	line-height: 2em;
	background-size: rem(24px) rem(24px);
	padding: rem(6px) rem(20px) rem(9px);
	background-position: calc(100% - 20px) rem(15px);

	&::-ms-expand {
		display: none;
	}

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		height: rem(50px); // ie bug fix
	}
}

.o-instructions {
	@apply w-full -mt-5 mb-5 text-grey;
}

/*
 *		Checkbox && Radio
 */
$clickable: checkbox radio;

@each $thing in $clickable {
	.o-#{$thing} {
		@apply sr-only;

		& + .o-#{$thing}__box {
			@apply relative inline-block w-auto;

			padding-left: rem(41px);
			word-break: break-word;

			&::before,
			&::after {
				@apply absolute inline-block;
			}

			&::before {
				@apply bg-black left-0;

				content: '';
				top: rem(2px);
				height: rem(21px);
				width: rem(21px);
			}

			&::after {
				@apply bg-white;

				height: rem(9px);
				width: rem(9px);
				top: rem(8px);
				left: rem(6px);
			}
		}

		&:checked {
			& + .o-#{$thing}__box {
				&::after {
					content: '';
				}
			}
		}
	}
}

/*
 *		Checkbox individual
 */

/*
 *		Radio individual
 */
.o-radio {
	& + .o-radio__box {
		&::before {
			@apply rounded-full;
		}

		&::after {
			@apply rounded-full;
		}
	}
}

/*
 *		File upload
 */
.o-file {
	@apply visuallyhidden;

	& + .o-file__box {
		@apply text-center block w-full px-3 py-5 font-heading font-bold; // bg-grey-black

		border: rem(2px) dashed black;
	}
}

/*
 *		Submit
 */
.c-form {
	.o-submit {
		@apply bg-black text-white;

		border: rem(1px) solid theme('colors.black');

		@screen lg {
			border-width: rem(2px);
		}

		&:focus,
		&:hover {
			@apply bg-transparent text-black;
		}
	}
}

/*
 *		Validation
 */
.o-message,
.o-field_note {
	@apply relative w-auto inline-block font-heading font-bold ml-5;
}

.o-field_note,
.o-error {
	@apply text-error;
}

.o-success {
	@apply text-white;
}

.o-message {
	font-size: responsive rem(16px) rem(20px);
}

.o-field_note {
	@apply opacity-0;

	font-size: rem(16px);
}

.o-input {
	&.has-error {
		@apply text-error;

		transition: color 75ms;
	}
}

/*
 *		Submitting
 */
.o-submitting {
	background-color: rgba(255, 255, 255, 0.4);
}

/*
 *		Success
 */
.o-form-wrapper {
	@apply relative;
}

#o-success-message {
	@apply absolute py-2 w-auto text-center opacity-0;

	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);

	.o-icon {
		width: rem(30px);
		height: rem(21px);
	}
}

/*
 *		Placeholder
 */
::-webkit-input-placeholder {
	color: black;
	opacity: 1;
}

::-moz-placeholder {
	color: black;
	opacity: 1;
}

:-ms-input-placeholder {
	color: black;
	opacity: 1;
}

:-moz-placeholder {
	color: black;
	opacity: 1;
}
