{% set type = field.type|default('text') %}

{% set classes = field.classes|default(null) %}

{% set errorList = field.errorList|default([]) %}

{% set handle = field.handle|default(null) %}
{% set label = field.label|default(null) %}
{% set instructions = field.instructions|default(null) %}
{% set value = field.value|default(null) %}
{% set required = field.required|default(null) %}

{# email, text and textarea #}
{% set placeholder = field.placeholder|default(null) %}

{% set message = field.message|default(null) %}
{% set presence = field.presence|default(null) %}

{# Textarea #}
{% set rows = field.rows|default(5) %}

{# select, checkbox_group and radio_group | array returns [label => 'label', value => 'value'] #}
{% set options = field.options|default([]) %}
{% set defaultOption = field.defaultOption|default(null) %}

{# file #}
{% set fileKinds = field.fileKinds|default([]) %}
{# An array of allowed file kinds, e.g. image, document, audio, etc. #}
{% set maxFileSizeKB = field.maxFileSizeKB|default(null) %}
{# The numeric representation of the upload limit in kilobytes. #}
{% set fileCount = field.fileCount|default(null) %}
{# The maximum number of allowed files to be uploaded. #}

{% switch type %}
{% case 'text' or 'email' or 'tel' or 'number' %}
	{% include '/_forms/fields/input.twig' %}
{% case 'textarea' %}
	{% include '/_forms/fields/textarea.twig' %}
{% case 'select' %}
	{% include '/_forms/fields/select.twig' %}
{% case 'checkbox' %}
	{% include '/_forms/fields/checkbox.twig' %}
{% case 'checkbox_group' or 'radio_group' %}
	{% include '/_forms/fields/group.twig' %}
{% case 'file' %}
	{% include '/_forms/fields/file.twig' %}
{% case 'submit' %}
	{% include '/_forms/fields/submit.twig' %}
{% case 'rich_text' or 'html' %}
	{% include '/_forms/fields/rich_text.twig' %}
{% endswitch %}
