{% set quote = quote|default(null) %}
{% set citation = citation|default(null) %}

{% if quote %}
	<div class="pl-3 mb-3 border-l-8 border-accent-1 xl:pl-4">
		<q class="o-quote h5 leading-tightish">{{ quote|raw }}</q>
		{% if citation %}
			<span>{{ citation }}</span>
		{% endif %}
	</div>
{% endif %}
