$columnCount: 12;

.g-flex {
	@apply -ml-2 flex flex-wrap justify-start;
}

.g-flex__col {
	@apply pl-2 w-full;
}

.g-grid {
	@apply flex flex-wrap justify-start;
}

// Fallback
// TODO: heavyhanded / a lot of css, but at least they will appear same width
// @responsive {
// 	.g-grid {
// 		display: flex flex-wrap;
// 	}

// 	@for $i from 0 through $columnCount {
// 		.g-grid__col-#{$i} {
// 			width: $i / 12 * 100%;
// 		}
// 	}

// 	@for $i from 1 through $columnCount {
// 		@for $j from 1 through $columnCount - 1 {
// 			@if $j <= $i {
// 				.g-grid__col-#{$j}-#{$i} {
// 					width: (($i - $j) / 12) * 100%;
// 				}
// 			}
// 		}
// 	}
// }

@supports (display: grid) {
	@responsive {
		.g-grid {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-column-gap: 2rem;
		}

		@for $i from 1 through 5 {
			.g-grid__row-#{$i} {
				grid-row: #{$i};
			}
		}

		@for $i from 0 through $columnCount {
			.g-grid__col-#{$i} {
				width: 100%;
				grid-column: #{$i};
			}
		}

		@for $i from 1 through $columnCount {
			@for $j from 1 through $columnCount - 1 {
				@if $j <= $i {
					.g-grid__col-#{$j}-#{$i} {
						width: 100%;
						grid-column: #{$j} / #{$i + 1};
					}
				}
			}
		}
	}
}
