.g-header {
	will-change: transform;
}

.g-header__inner {
	@include calc-fluid('height', 76px, 90px);
}

.g-header__nav {
	@apply overflow-y-auto;

	height: calc(100 * var(--vh, 1vh));
	transform: translate3d(0, 0, 0);
	transition: transform 200ms, opacity 200ms;

	@screen md {
		@apply overflow-hidden h-auto;

		background: transparent;
	}
}

html.no-js #burger-checkbox:checked ~ .g-header__nav,
.g-header__nav.is-open {
	transform: translate3d(-100%, 0, 0);
	opacity: 1;
}

/* Headroom classes */
.headroom {
	will-change: transform;
	transition: transform 200ms linear;
}

.headroom--pinned {
	transform: translateY(0%);
}

.headroom--unpinned {
	transform: translateY(-100%);
}

// Nav styling
.g-header__nav-link {
	will-change: color;
	transition: color 150ms 0ms;

	&.is-current,
	&:focus,
	&:hover {
		@apply text-red;

		transition: color 150ms 50ms;
	}
}
