{# Block in Main Styleguide Page #}
{% block styleguide_section %}
	{# Buttons #}
	{% embed '/styleguide/_templates/section'
		with {
			heading: 'Icon Text',
			template: "'/__library/objects/icon-text/'"
		}
	%}
		{% block styleguide_example %}
			{#  #}
			{# Icon Text #}
			{#  #}
			{% set variables = {
				icon: 'logo',
				header: 'Icon Text',
				body: '<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur.</p>'
			} %}
			{% embed '/styleguide/_templates/item'
				with {
					heading: 'Icon Text',
					variables: variables
				}
			%}
				{% block styleguide_item %}
					{% include '/__library/objects/icon-text/icon-text' with variables %}
				{% endblock %}
			{% endembed %}
			{#  #}
			{# End Icon Text #}
			{#  #}

			{#  #}
			{# Icon Text Stacked #}
			{#  #}
			{% set variables = {
				icon: 'logo',
				header: 'Icon Text',
				body: '<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur.</p>'
			} %}
			{% embed '/styleguide/_templates/item'
				with {
					heading: 'Icon Text Stacked',
					variables: variables
				}
			%}
				{% block styleguide_item %}
					{% include '/__library/objects/icon-text/icon-text-stacked' with variables %}
				{% endblock %}
			{% endembed %}
			{#  #}
			{# End Icon Text Stacked #}
			{#  #}
		{% endblock %}
	{% endembed %}
{% endblock %}
